* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100vw;
    display: flex;
    flex-flow: column;
    background: #C33764; 
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8))
}

.wrapper {
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px 65px 15px;
}

.h2 {
    text-align: center;
    margin: 1rem auto;
    font-size: 35px;
    line-height: 120%;
    font-weight: 300;
    padding: 0 1rem;
    color: #ffffff;
}

.h3 {
    color: #ffffff;
    width: 100%;
    padding: 0 1rem;
    line-height: 120%;
    text-align: center;
    margin: 10px auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 15px 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.square-container {
    list-style: none;
    /* flex-flow: wrap;
    align-items: center;
    justify-content: center; */
    height: 340px;
    max-height: 440px;
    width: 100%;
    max-width: 440px;
    position: relative;
    margin: 0;
    padding: 0;
}

.square {
    border: 2px solid rgba(0, 0, 0, .75);
    max-height: 140px;
    height: 32%;
    width: 32%;
    max-width: 140px;
    margin: 0 auto;
    font-size: 120px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}

button {
    margin: 0 auto;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
}

#resetButton {
    border-radius: 10px;
    background-color: blue;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

#resetButton:hover {
    background-color: rgb(57, 3, 207);
}
